
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Overpass:wght@800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Kanit', sans-serif;
}

*{
  font-size: 14px;

}
