.container {
    height: 100vh;
    background: linear-gradient(to bottom, #96f2d7, #7aa5d7);
}

.font {
    margin: 20px auto;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.patientcontainer{
    display: flex;
    height: 80vh;
}

.centercontainer{
    display: flex;
    justify-content: center;
}

.modifylampang {
    display: flex;
    text-align: center;
    width: 80vw;
    margin: 0 auto;
    background-color:azure;
    border-radius: 15px;
}