.background {
    height: 100vh;
    background: linear-gradient(to bottom, #96f2d7, #7aa5d7);
    
}

.font {
    margin: 0 0;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}


.contentcontainer {
    display: flex; 
    flex-direction: column;
    width: 80vw;
    margin: 10px auto;
    background-color:rgba(222, 248, 252, 0.4);   
    border-radius: 15px;
    height: 75vh;
}

.card{
    display: flex;
    /* justify-content: center; */
    text-align: center;
    flex-direction: column;
}
