@media (max-width: 768px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        /* Set the container height to the full viewport height */
        background: linear-gradient(to bottom, #96f2d7, #7aa5d7);
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .text2{
        display: none;
    }

.engtext{
    font-size: 25px;
}

    .box {
        /* border: solid rgb(0, 0, 0); */
        border-radius: 10px;
        padding: 40px 40px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: rgb(255, 255, 255);
    }

    .username {
        margin-top: 5px;
    }

    .password {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .boxsideboxcontainer {
        display: none;
    }

    .sidebox {
        display: none;
    }
}

@media (max-width: 88888px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        /* Set the container height to the full viewport height */
        background: linear-gradient(to bottom, #96f2d7, #7aa5d7);
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        /* display: none; */
    }

    .text2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 50px;
        /* display: none; */
    }


    .engtext{
        font-size: 25px;
    }

    .box {
        /* border: solid rgb(0, 0, 0); */
        border-radius: 10px;
        padding: 40px 40px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: rgb(255, 255, 255);
    }

    .username {
        margin-top: 5px;
    }

    .password {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .boxsideboxcontainer {
        display: flex;
        background: linear-gradient(135deg, #a7e9bd, #3bc993);
        border-radius: 10px;
    }

    .sidebox {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        width: 380px;
    }

    .img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}